.back-home-container{
    width: 100%;
}

.back-home-btn {
    width: 95%;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    background: linear-gradient(45deg, #839aff, #c790ff);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.back-home-btn:hover {
    background: linear-gradient(45deg, #6984f8, #b471f7);
}

.back-home-btn img {
    width: 40px;
}

.back-home-btn span {
    font-size: 1.5rem;
    font-weight: 700;
}