.game-info-dialog {
    padding: 0;

    border: none;
    border-radius: 12px;
    background: white;
}

.game-info-dialog::backdrop{
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

/*-------------------------------------------------------------*/

.close-btn-game-info {
    height: 3rem;

    background-color: transparent;
    color: #ff4d4d;

    font-weight: 700;

    border: 2px solid #ff4d4d;
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.3s ease-in-out
}

.close-btn-game-info:hover {
    background-color: #ff4d4d;
    color: #222222;
}