* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-width: 350px;

    height: 100%;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    color: black;
    font-family: "Roboto", "sans-serif";
}

body {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* main layout */

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "title title title"
        "main-content main-content main-content"
        "footer footer footer";

    min-height: 100vh;
}

@media (min-width: 768px) {
    .main-container {
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas: "title title title"
            ". main-content ."
            "footer footer footer";
    }
}

@media (min-width: 1200px) {
    .main-container {
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-areas: "title title title"
            ". main-content ."
            "footer footer footer";
    }
}

@media (min-width: 1700px) {
    .main-container {
        grid-template-columns: 2fr 6fr 2fr;
        grid-template-areas: "title title title"
            ". main-content ."
            "footer footer footer";
    }
}

.main-content {
    grid-area: main-content;
    display: grid;
    place-items: center;
    align-content: start;

    min-height: 800px;
}
