@import url("/prova/styles/layout/header.css");
@import url("/prova/styles/utils.css");
@import url("/prova/styles/layout/base.css");
@import url("/prova/styles/home/scoreboard.css");
@import url("/prova/styles/home/gameinfo.css");
@import url("/prova/styles/home/pfp-picker.css");
@import url("/prova/styles/layout/footer.css");

.pfp-diff-container {
    display: flex;
    justify-content: center;

    width: 95%;
    
    margin: 0 auto;
}

@media (min-width: 500px){
    .pfp-diff-container{
        width: 95%;
    }
}

/* pfp button on homepage */

.pfp-container {
    display: flex;
    flex: 1;
    
    flex-shrink: 0;
    flex-grow: 0;

    margin: 10px 20px 10px 0;

    width: 100%;
    align-items: center;
    position: relative;
}

@media (min-width: 500px){
    .pfp-container{
        justify-content: center;
    }
}

.pfp-btn {
    background-color: rgb(217, 219, 219);
    width: 80px;
    height: 80px;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

@media (min-width: 500px){
    .pfp-btn{
        width: 120px;
        height: 120px;
    }
}

.current-pfp{
    height: 60px;
    width: 60px;
}

@media (min-width: 500px){
    .current-pfp{
        width: 100px;
        height: 100px;
    }
}

.pfp-btn:hover {
    transform: scale(1.1);
}

/* difficulty select style */

.diff-container {
    display: inline-flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
    
    gap: 8px;
}

.diff-title {
    font-size: 1.5rem;
    font-weight: 600;

    white-space: nowrap;
}

@media(min-width: 500px){
    .diff-title{
        font-size: 2rem;
    }
}

.diff-select {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
    border: grey 1px solid;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 500px) {
    .diff-select {
        font-size: 1.5rem;
    }
}

/* nickname input style */

.nickname-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}

.nickname-input {
    width: 95%;
    height: 50px;
    font-size: 2rem;
    padding: 0;
    border: grey 1px solid;
    border-radius: 8px;
    text-align: center;
}

/* start button style */

.start-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.start-btn {
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0;
    width: 95%;
    height: 60px;
    border: none;
    border-radius: 8px;
    background: rgb(110, 185, 107);
    cursor: pointer;
}

.start-btn:hover {
    background: rgb(95, 161, 93);
}