html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
    min-width: 390px;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    color: black;
}

body {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "title title title"
        "main-content main-content main-content";
}

@media (min-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "title title title"
            "main-content main-content main-content";
    }
}

@media (min-width: 1200px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas: "title title title"
            ". main-content .";
    }
}


.homepage-title {
    background: #8400ff;
    grid-area: title;
    font-size: 3rem;
    font-weight: bold;
    font-weight: 800;
    text-align: center;
    padding: 15px;

}

@media (min-width: 768px) {
    .homepage-title {
        font-size: 4rem;
    }
}

.main-content{
    display: grid;
    grid-area: main-content;
    
}

.header-row{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    margin: 20px;
    padding: 8px;
    align-items: center;
    gap: 15px;
}

.welcome-icon-container{
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 0;
}

.pfp-icon{
  
}

.welcome-msg{
    flex: 1;
    min-width: 0;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.hint-section{
    margin: 0;
    padding: 0;
    position: relative
}

.hint-btn{
    border: none;
    border-radius: 8px;
    background-color: rgba(132, 0, 255, 0.8);
    cursor: pointer;
    margin: 0;
    padding: 8px;
    gap: 10px;
    display: flex;
    align-items: center;
}

@media (min-width: 768px){
    .hint-btn{
        padding: 8px 15px;
    }
}

.hint-btn:hover{
    background-color: rgba(132, 0, 255, 1.3);
}

.hint-btn span{
    display: none;
    font-weight: 600;
    font-size: 1.5rem;
}

@media (min-width: 768px){
    .hint-btn span{
        display: inline;
    }
}

.hint-logo{
    height: 40px;
    width: 40px;
}

.fifty-hint-btn{
    position: absolute;
    top: 120%;
    border: none;
    border-radius: 8px;
    background-color: rgba(132, 0, 255, 0.8);
    cursor: pointer;
    margin: 0;
    padding: 8px;
    gap: 10px;
    display: none;
    align-items: center;
}

@media (min-width: 768px){
    .fifty-hint-btn{
        padding: 8px 15px;
    }
}

.fifty-hint-btn:hover{
    background-color: rgba(132, 0, 255, 1.3);
}

.fifty-hint-btn span{
    display: none;
    font-weight: 600;
    font-size: 1rem;
}

@media (min-width: 768px){
    .fifty-hint-btn span{
        display: inline;
    }
}

.fifty-hint-logo{
    height: 40px;
    width: 40px;
}

.pause-section{
    padding: 0;
    margin: 0;
}

.pause-btn{
    border: none;
    border-radius: 8px;
    background-color: rgba(128,128,128, 0.8);
    cursor: pointer;
    padding: 8px;
    margin: 0;
    display: flex;
    align-items: center;
}

.pause-btn:hover{
    background-color: rgba(128, 128, 128, 1.3);
}

.pause-logo{
    height: 40px;
    width: 40px;
}

.page-container{
    position: relative;
    width: 75%;
    min-height: 20vh;
    margin: 0 auto;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: rgb(217, 219, 219);
}

.question-container{
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0px 0px 15px 0px;
}

.option-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.js-multiple-option{
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 8px;
    border: none;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.js-multiple-option:hover{
    background-color: rgb(199, 196, 196);
}

.js-boolean-option{
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 8px;
    border: none;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.js-boolean-option:hover{
    background-color: rgb(199, 196, 196);
}

.wrong-option{
    border: red 3px solid;
}

.correct-option{
    border: green 3px solid;
}

.result-container{
    width: 75%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.next-question-btn{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 8px;
    border: none;
    background-color: rgb(53, 100, 241);
    cursor: pointer;
}

.next-question-btn:hover{
    background-color: rgb(33, 70, 183);
}

.loading-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container img{
    width: 80px;
}

.d-none {
    display: none;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

button:disabled{
    background-color: rgba(239, 239, 239, 0.6);
    cursor: default;
}

.selezionato{
    background-color: rgba(239, 239, 239, 1);
    color: black !important;
    cursor: default;
}

.blur {
    filter: blur(5px);
}
/*-------------------------------------------------------------------------------------------*/

#resultContainer {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#resultContainer.show {
    opacity: 1;
}

#drop-item:hover {
    background-color: rgb(13, 50, 255) !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
}