.header-row {
    display: grid;
    grid-template-columns: 6fr 2fr;
    margin: 15px 0;
    padding: 8px 0;
    align-items: center;
    gap: 1rem;
    width: 95%;
}

.welcome-icon-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
}

.welcome-msg {
    flex: 1;
    min-width: 0;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

.pfp-icon{
    height: 60px;
}

.button-container {
    display: flex;
    gap: 1rem;;
    justify-content: end;
}

.hint-section {
    margin: 0;
    padding: 0;
    position: relative
}

.hint-btn {
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #839aff, #c790ff);
    cursor: pointer;
    margin: 0;
    padding: 8px;
    gap: 0.8rem;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.header-row .hint-section button:disabled {
    background: linear-gradient(45deg, #839aff, #c790ff);
    opacity: 0.5;
    cursor: default;
}

@media (min-width: 768px) {
    .hint-btn {
        padding: 8px 15px;
    }
}

.hint-btn:hover {
    background: linear-gradient(45deg, #6984f8, #b471f7);
}

.hint-btn span {
    display: none;
    font-weight: 600;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .hint-btn span {
        display: inline;
    }
}

.hint-logo {
    height: 40px;
    width: 40px;
}

.fifty-hint-btn {
    position: absolute;
    top: 120%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #839aff, #c790ff);
    cursor: pointer;
    margin: 0;
    padding: 8px;
    gap: 0.8rem;
    /* display: none; */
    align-items: center;
    z-index: 100;
}

@media (min-width: 768px) {
    .fifty-hint-btn {
        padding: 8px 15px;
    }
}

.fifty-hint-btn:hover {
    background-color: linear-gradient(45deg, #6984f8, #b471f7);
}

.fifty-hint-btn span {
    display: none;
    font-weight: 600;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .fifty-hint-btn span {
        display: inline;
    }
}

.fifty-hint-logo {
    height: 40px;
    width: 40px;
}

.pause-section {
    padding: 0;
    margin: 0;
}

.pause-btn {
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.8);
    cursor: pointer;
    padding: 8px;
    margin: 0;
    display: flex;
    align-items: center;
}

.pause-btn:hover {
    background-color: rgba(128, 128, 128, 1.3);
}

.pause-logo {
    height: 40px;
    width: 40px;
}

.header-row .pause-section button:disabled {
    background-color: rgba(128, 128, 128, 0.4);
    cursor: default;
}