@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #37274d;
  --color-secondary: #eedcff;
}

@layer components {
    .correct-option {
        background-color: #dcfce7 !important;
        border-color: #22c55e !important;
        color: #15803d !important;
        font-weight: 700 !important;
    }

    .wrong-option {
        background-color: #fee2e2 !important;
        border-color: #ef4444 !important;
        color: #b91c1c !important;
        font-weight: 700 !important;
    }

    .selezionato {
        border-color: #4F00D0 !important;
    }
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
