@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #37274d;
  --color-secondary: #eedcff;
}

@layer components {
    .diff-select-options {
        @apply hover:bg-[#37274d]! hover:text-[#eedcff] transition-all duration-200 text-center;
    }
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}