.pause-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    gap: 15px;
}

.pause-container.show {
    opacity: 1;
    pointer-events: auto;
}

.play-btn,
.homepage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #839aff, #c790ff);
    border: none;
    border-radius: 8px;
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

.play-btn:hover,
.homepage-btn:hover {
    background: linear-gradient(45deg, #6984f8, #b471f7);
}

.play-btn img,
.homepage-btn img {
    width: 50px;
}