@import url("/prova/styles/layout/header.css");
@import url("/prova/styles/utils.css");
@import url("/prova/styles/layout/base.css");
@import url("/prova/styles/layout/footer.css");
@import url("/prova/styles/game/gamepage-header.css");
@import url("/prova/styles/game/game-section.css");
@import url("/prova/styles/game/pause-menu.css");
@import url("/prova/styles/game/quiz-completed.css");
@import url("/prova/styles/game/progress-bar.css");

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container img {
    width: 80px;
}

